/* body {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  background-color: #fff;
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 12px;
  padding: 20px 20px;
}
.first-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

 */
